body{
    background-color: rgb(32, 46, 85);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.area-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh ;
    justify-content: center;
    align-items: center;
    
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(158, 164, 180);
    width: 355px;
    height: 320px;
    padding: 35px;
    border-style: solid;
    border-color: rgb(254, 255, 254);
    border-radius: 50px;  
    font-size: 1vw;
}

.login form{
    display: flex;
    flex-direction: column;
    width: 100%;
    outline: none;
}

.login input{
    margin-top: 10px;
    background-color: rgb(22, 182, 76);
    border-color: rgb(0, 0, 0);
    color: rgb(245, 246, 247);
    height: 28px;
    border-radius: 8px;
    padding-left: 12Px;    
}

.login img{
    width: 120px;
    height: auto;
}

input::placeholder{
    color: rgb(253, 253, 253);
    font-size: 15px;
}

form [type="submit"]{
    display: block;
    background-color: rgb(67, 94, 67);
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: rgb(252, 252, 252);
}

p{
    color: rgb(0, 0, 0);
    font-size: 18px;
}

a{
    color: rgb(0, 0, 0);
    margin-left: 35px;
}
